<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fairytale Campground</title>
  <link rel="stylesheet" href="/assets/5th_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

</head>

<body>

  
  <div class="topnav">
    <a class="active" href="index.html"><b>About</b></a>
    <a href="lokasinya.html"><b>Location</b></a>
    <a href="whatyouget.html"><b>What You Get</b></a>
    <a href="packages.html"><b>Packages</b></a>
    <a href="contact.html"><b>Contact Us</b></a>
  </div>

  <section class="contact-section">
    <h1>Contact Us</h1>
    <p>Make your camping experience truly memorable with us.</p>

    <div class="icon-grid">
      
      <a href="https://wa.me/628123456789" target="_blank">
        <img src="/assets/Untitled design (19).png">
        <span>WhatsApp</span>
      </a>

      
      <a href="https://instagram.com/fairytalecampground" target="_blank">
        <img src="/assets/Untitled design (18).png">
        <span>Instagram</span>
      </a>

      
      <a href="mailto:info@fairytalecampground.com" target="_blank">
        <img src="/assets/Untitled design (20).png">
        <span>Email</span>
      </a>

      
      <a href="https://fairytalecampground.com" target="_blank">
        <img src="/assets/Untitled design (21).png">
        <span>Website</span>
      </a>
    </div>
  </section>

<section class="judul">
  <div>
    <img src="/assets/logofairy.png" class="logo-corner">
  </div>
</section>

</body>
</html>
