<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fairytale Campground</title>
  <link rel="stylesheet" href="/assets/1st_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">

<style>


</style>
</head>

<body>

  
  <div class="topnav">
    <a class="active" href="index.html"><b>About</b></a>
    <a href="lokasinya.html"><b>Location</b></a>
    <a href="whatyouget.html"><b>What You Get</b></a>
    <a href="packages.html"><b>Packages</b></a>
    <a href="contact.html"><b>Contact Us</b></a>
  </div>

  
  <div class="cover-container">
    <img class="cover" src="/assets/pesonaalam.png">
    <img class="logo-overlay" src="/assets/logofairy.png">
  </div>

  
  <section class="branding">
    <h1>Fairytale Campground</h1>
    <h2>The only campground in West Java that provides <em>Biometric-lock lockers.</em></h2>
  </section>

<section class="brief_desc">
  <div>
    <p>
      At Fairytale Campground, we believe camping should be both adventurous and safe. <br>
      Enjoy the fresh pine air, the warmth of a cozy tent, and the comfort of clean facilities — all while knowing your belongings are secure.<br>
    </p>
  </div>
  <img src="/assets/happy family.png" alt="Happy family">
</section>

  
  <section class="biometric">
    <h1>Why do you need a locker when camping?</h1>
    <div class="shape-locker"><b>24/7 Peace of mind while exploring nature</b></div>
    <div class="shape-locker"><b>Prevents loss of valuables: transport keys, jewelry, gadgets, or personal items</b></div>
    <div class="shape-locker"><b>Ensures your trip is filled with happy memories, not stressful security issues</b></div>
  </section>

</body>
</html>
