<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/2nd_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>

  <div class="topnav">
    <a href="index.html"><b>About</b></a>
    <a class="active" href="lokasinya.html"><b>Location</b></a>
    <a href="whatyouget.html"><b>What You Get</b></a>
    <a href="packages.html"><b>Packages</b></a>
    <a href="contact.html"><b>Contact Us</b></a>
  </div>

<div class="map-lokasi">
  <a href="https://maps.app.goo.gl/GhQbc7sRBXFdaHXNA" target="_blank">
    <img src="/assets/pin_lokasi.gif" alt="Campground Location">
  </a>
  <p class="caption"><b>Click the icon above to open the campground location in Google Maps!</b></p>
</div>

<img src="/assets/logofairy.png" class="corner-logo">

 </body> 

</html>
