<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fairytale Campground</title>
  <link rel="stylesheet" href="/assets/4th_style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>

  <div class="topnav">
    <a class="active" href="index.html"><b>About</b></a>
    <a href="lokasinya.html"><b>Location</b></a>
    <a href="whatyouget.html"><b>What You Get</b></a>
    <a href="packages.html"><b>Packages</b></a>
    <a href="contact.html"><b>Contact Us</b></a>
  </div>
  

<section class="judul">
  <div>
    <h1>Choose Your Perfect Camping Package.</h1>
    <img src="/assets/logofairy.png" class="logo-corner">
  </div>
</section>
  
<div class="grid-container">
  <div class="grid-item">
    <img src="/assets/solocamp.jpeg" alt="Solo Tent">
    <h3>Solo Tent (1 person capacity)</h3>
    <ul>
      <li>Quiet area, perfect for solo travelers or me-time</li>
      <li>Close to hiking trail and sunrise viewpoint</li>
      <li>Free refill of traditional ginger drink to maintain stamina and support independence</li>
    </ul>
  </div>

  <div class="grid-item">
    <img src="/assets/couplecamp.jpeg" alt="Spouses Tent">
    <h3>Spouses Tent (2 person capacity, valid for married couples only)</h3>
    <ul>
      <li>Romantic atmosphere with soft decorative lighting</li>
      <li>Private area, away from the crowd</li>
      <li>Complimentary marshmallow set for campfire moments</li>
    </ul>
  </div>

  <div class="grid-item">
    <img src="/assets/familycamp.jpeg" alt="Family Tent">
    <h3>Family Tent (5–10 persons, extra fee for additional guests)</h3>
    <ul>
      <li>Spacious tent with a central area for gathering</li>
      <li>Free BBQ grill and picnic table for family meals</li>
      <li>Located near kids’ play corner and safe outdoor area</li>
    </ul>
  </div>
</div>




</body>
</html>


