* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cce6b0; 
  height: 600px;
}

.topnav {
  background-color: #1d4807;
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Monaco;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.map-lokasi {
  text-align: center; 
  margin-top: 100px;   
}

.map-lokasi img {
  width: 25%;
}

.map-lokasi .caption {
  margin-top: 50px;
  font-size: 30px;
  color: #333;
  font-family: Cambria ;
}

.corner-logo {
  position: absolute;
  top: 60px;   
  right: 20px;  
  width: 150px; 
}


